@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

$brown: #98632C;

.nav {
  width: 17rem;
  color: $brown;
  font-family: 'Raleway', 'Sans-serif';
}

.nav__list {
  display: inline-flex;
  flex-direction: column;
  padding-left: 3rem;
  padding-top: 2rem;
  gap: 1.5rem;
}

.nav__list a {
  text-decoration: none;
  color: inherit;
  width: fit-content;
}