@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

$brown: #98632c;

body {
  font-family: "raleway", "sans+serif";
  color: $brown;
}

.about__info {
  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  top: 10%;
  left: 18%;
  width: 100rem;
  max-width: 75%;
  height: 50rem;
  padding: 1rem;

  margin-top: 5rem;

}

.about__info__description {
  grid-area: 5 / 1 / 7 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2rem;

  .about__info__description--name {
    font-size: 3rem;
  }

  .about__info__description--job {
    font-size: 1.5rem;
  }
}

.about__info__photo {
  grid-area: 1 / 2 / 7 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 5%;

  img {
    // aspect-ratio: 1;
    display: flex;
    // width: 100%;
    height: 100%;
    // max-width: 30rem;
  }
}

.about__work1 {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  gap:3rem;
}

.about__work1__image {
  position: absolute;
  left: 0;
width: 80%;
  align-self: flex-end;
  // max-width: 70%;
}

.about__work1__list {
  padding-left: 5rem;
  line-height: 2rem;
}



