@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

$brown: #98632c;

body {
  font-family: "raleway", "sans+serif";
  color: $brown;
}

.about__info {
  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  top: 5%;
  left: 18%;
  width: 110rem;
  max-width: 75%;
  height: 50rem;
  padding: 1rem;

}

.about__info__greeting {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.about__info__experience {
  grid-area: 3 / 1 / 5 / 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .about__info__experience--title {
    font-size: 1.5rem;
  }

  .about__info__experience--list {
    padding-left: 2rem;
    line-height: 2rem;
  }
}

.about__info__skills {
  grid-area: 5 / 1 / 7 / 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .about__info__skills--title {
    font-size: 1.5rem;
  }

  .about__info__skills--list {
    padding-left: 2rem;
    line-height: 2rem;
  }
}
.about__info__photo {
  grid-area: 1 / 2 / 7 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;

  img {
    // aspect-ratio: 1;
    height: auto;
    width: auto;
    max-width: 25rem;
    border: 1px solid rgba(152, 99, 44, 0.5);
    box-shadow: 12px 12px 5px #ffe8eb;
  }
}

.about__work1 {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap:3rem;
}

.about__work1__image {
  align-self: flex-end;
  max-width: 70%;
}

.about__work1__list {
  padding-left: 5rem;
  line-height: 2rem;
}



