@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');

$brown: #98632C;

body {
  font-size: 1rem;
  height: 100vh;
  padding: 2.5% 2.5% 2.5% 2.5%;
}

.about__tree {
  position:absolute;
  top: 10%;
  right: 5%;
  min-height: 85%;
}

.about__text {
  color: $brown;
  font-family: 'Crimson Pro', serif;
  position: absolute;
  bottom: 10%;
  left: 20%;
}

.about__text--title {
  font-size: 3rem;
}

.about__text--description {
  font-size: 1.5rem;
}