#root:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
}


.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
}

.loader img {
  width: 100%;
  height: 100%;
}

.meter {
  position: relative;
  left: -1em;
  top: 0.25em;
  height: 0.5rem;
  width: 8rem;
  border-radius: 1em;
  overflow: hidden;
  border: 1px solid #EAD1B6;
}

.progress {
  display: block;
  background-color: #FFE8EB;
    border-radius: 1em;
  height: 100%;
  animation: progressBar 2s infinite linear;
}

@keyframes progressBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
